.h1 {
    text-align: center;
    height: 90px;
    font-size: 38px;
    font-weight: 700;
    transform: translate(0%, 50%);
}

.search {
    text-align: center;

    input {
        background: #f1f1f122;
        border: none;
        height: 60px;
        width: 15%;

        text-align: center;
        color: #f2f2f2;
        
        outline: none;
        box-shadow: #f1f1f1;

    }
}

.ul {
    margin-top: 25px;
    padding: 0;
    padding-left: 300px;
    padding-right: 300px;

    li {
        margin-top: 15px;
        background: none;
        list-style: none;
        width: 100%;

        font-weight: 600;
    }

    span {
        float: right;
        opacity: 50%;
        font-weight: 400;
    }
}